
#frame{
    width: 100%;
    height: 100%;
    border: none;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    align-items: center;
    justify-content: left;
    position: sticky;
    overflow: none;
}
body{
    width: 100%;
    height: 850px;
}
.container{
    width: 100%;
    height: 100%;

}
@media (max-width: 1199.98px) {
.container{
    margin: 0 auto;
}
#frame{
    margin-left: 100px;

}

}